<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>vue-geokbd-module</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <div class="container">
        <div id="app">
            <h1 class="title">vue-geokbd</h1>
            <h4 class="desc">A Vue.js directive</h4>

            <a class="github-link" href="https://github.com/brunjick/vue-geokbd">Source on GitHub</a>

            <div class="demo">
                <h3>&lt;textarea&gt;</h3>
                <textarea v-model="inputText" v-geokbd></textarea>
                <h3>&lt;input&gt;</h3>
                <input v-model="inputText" type="text" v-geokbd>
            </div>
        </div>
    </div>

    <script src="dev/bundle.js"></script>
</body>
</html>
