html {
    font-family: "DejaVu Sans", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

a {
    color: #4F92C0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a:hover {
    text-decoration: underline;
}

#app {
    width: 600px;
    padding: 0 20px;
    max-width: 600px;
    text-align: center;
}

#main {
    margin-top: 70px;
}

.title {
    font-size: 4em;
    color: #4F92C0;
}

.desc {
    font-size: 15px;
    color: #7f8c8d;
}

.github-link {
    font-size: 22px;
}

.demo {
    margin-top: 20px;
}
